<%- include('partials/headerloggedin') -%>
<!-- <div class="container mx-auto">
  <div class="">
    <div class="flex justify-center p-3 border">
      <h1><%= post.title %></h1>
    </div>
    <div class="list-none space-y-7">
      <% for(var i=0; i<post.workout.exercise.length; i++) {%>
        <div class="flex justify-center">
          <li><%= post.workout.exercise[i] %> - Sets: <%= post.workout.sets[i] %> Reps: <%= post.workout.reps[i] %> </li>
        </div>
      <% } %>
      <div class="">
        <li><%= post.description %></li>
      </div>
    </div>
  </div> -->


<!-- <div class="">
  <div class="border flex justify-center text-center bg-blue-300">
    <div class="">
      <h1><%= post.title %></h1>
    <div class="list-none">
      <% for(var i=0; i<post.workout.exercise.length; i++) {%>
          <li><%= post.workout.exercise[i] %> - Sets: <%= post.workout.sets[i] %> Reps: <%= post.workout.reps[i] %> </li>
      <% } %>
      <li class="mx-40"><%= post.description %></li>
    </div>
  </div>
</div>
</div> -->


<main class="container mx-auto bg-blue-50 min-h-screen">
  <div class="flex justify-center items-center">
      <div class="bg-white m-7 p-8 pb-0 rounded-lg shadow-sm mt-36">
          <div class="flex justify-center">
            <h1><%= post.title %></h1>
          </div>
          <div class="list-none flex flex-col items-center space-y-4 m-7">
            <% for(var i=0; i<post.workout.exercise.length; i++) {%>
              <% if(post.workout.exercise[i] !== "" && post.workout.sets[i] !== "" && post.workout.reps[i] !== ""){%>
                <li><%= post.workout.exercise[i] %> - Sets: <%= post.workout.sets[i] %> Reps: <%= post.workout.reps[i] %> </li>
              <% } %>
            <% } %>
          </div>
          <div class="max-w-lg">
            <p><%= post.description %></p>
          </div>
          <div class="flex h-10 items-end pt-16">
            <form class="" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="fa-solid fa-heart text-red-500" type="submit"> </button>
            </form>
            <h3 class=""> # <%= post.likes %></h3>
          </div>
      </div>
      <div class="items-center justify-center mt-64 mb-4 max-w-md">
        <div class="antialiased mx-auto max-w-screen-sm">
          <h3 class="mb-4 text-lg font-semibold text-gray-900">Comments</h3>
        
          <div class="space-y-4">

            <div class="flex">
              <!-- <div class="flex-shrink-0 mr-3">
                <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
              </div> -->
              <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                <!-- <% for(var i=0; i<comments.length; i++) {%>
                  if(comment.id == user.id)
                <% } %>
                <strong><%= user.userName %></strong> -->
                <ul class="">
                  <% for(var i=0; i<comments.length; i++) {%>
                    <li class="col-6 justify-content-between mt-5 text-sm">
                      <%= comments[i].comment %>  
                    </li>
                  <% } %>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- <ul class="list-inline">
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <%= comments[i].comment %>  
            </li>
          <% } %>
        </ul> -->
        <form action="/comment/createComment/<%=post._id%>" method="POST" class="w-full max-w-xl bg-white rounded-lg px-4 py-1 shadow-sm">
           <div class="flex flex-wrap -mx-3 mb-6">
              <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
              <div class="w-full md:w-full px-3 mb-2 mt-2">
                 <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 placeholder-gray-500 focus:outline-none focus:bg-white" name="comment" placeholder='Type Your Comment' required></textarea>
                 <!-- <input type="text" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 placeholder-gray-500 focus:outline-none focus:bg-white" placeholder="Type Your Comment" name="comment" required> -->
              </div>
              <div class="w-full md:w-full flex items-start px-3">
                 <div class="-mr-1">
                    <input type='submit' class="bg-slate-700 py-1 px-4 tracking-wide mr-1 text-white cursor-pointer" value='Post Comment'>
                 </div>
              </div>
           </form>
        </div>
  </div>
</div>
  <div class="flex justify-center p-4">
    <p>Created by: <%= user.userName %></p>
  </div>
<%if(post.user == user.id){ %>
  <div class="container mx-auto">
  <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="flex justify-center">
    <p class="pr-1">Delete plan: </p>
    <button class="fa fa-trash" type="submit"></button>
  </form>
  </div>
<%}%>
<div class="border">
  <h2>Add a comment</h2>
  <form action="/comment/createComment/<%=post._id%>" method="POST">
    <div class="mb-3">
        <label for="comment" class="form-label"></label>
        <input type="text" class="form-control" placeholder="Comment" id="comment" name="comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<ul class="list-inline">
  <% for(var i=0; i<comments.length; i++) {%>
    <li class="col-6 justify-content-between mt-5">
      <%= comments[i].comment %>  
    </li>
  <% } %>
  </ul>
</main>
      <!-- <img class="img-fluid" src="<%= post.image%>" /> -->
      <!-- <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="fa fa-heart" type="submit">Like</button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit">Delete</button>
        </form>
        <%}%>
      </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
</div> -->

<%- include('partials/footer') -%>
