<%- include('partials/headerloggedin') -%>
<main class="container mx-auto bg-blue-50 min-h-screen">
  <div class="flex justify-center items-center">
      <div class="bg-white m-7 p-8 pb-0 rounded-lg mt-16 mb-5">
          <div class="flex justify-center">
            <h1><%= post.title %></h1>
          </div>
          <div class="list-none flex flex-col items-center space-y-4 m-7">
            <% for(var i=0; i<post.workout.exercise.length; i++) {%>
              <% if(post.workout.exercise[i] !== "" && post.workout.sets[i] !== "" && post.workout.reps[i] !== ""){%>
                <li><%= post.workout.exercise[i] %> - Sets: <%= post.workout.sets[i] %> Reps: <%= post.workout.reps[i] %> </li>
              <% } %>
            <% } %>
          </div>
          <div class="max-w-lg">
            <p><%= post.description %></p>
          </div>
          <div class="flex h-10 items-end pt-16">
            <form class="" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="fa-solid fa-heart text-red-500" type="submit"> </button>
            </form>
            <h3 class=""> # <%= post.likes %></h3>
          </div>
      </div>
      <div class="items-center justify-center mt-32 mb-4 max-w-md">
        <div class="antialiased mx-auto max-w-screen-sm">
          <h3 class="mb-4 text-lg font-semibold text-gray-900">Comments</h3>
          <div class="space-y-4 overflow-y-scroll h-60 bg-white rounded-lg">

            <div class="flex">
              <div class="flex-1 rounded-lg px-4 pb-3 sm:px-6 leading-relaxed">
                <ul class="">
                  <% for(var i=0; i<comments.length; i++) {%>
                    <li class="col-6 justify-content-between mt-5 text-sm">
                      <%if(comments[i].user == user.id){ %>
                        <strong><%= user.userName %></strong>
                        <%= comments[i].comment %>
                    <% } %>
                    </li>
                  <% } %>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <form action="/comment/createComment/<%=post._id%>" method="POST" class="w-full max-w-xl bg-white rounded-lg px-4 py-1 shadow-sm">
           <div class="flex flex-wrap -mx-3 mb-3">
              <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
              <div class="w-full md:w-3/4 px-3 mb-2 mt-2">
                 <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-14 py-2 px-3 placeholder-gray-500 focus:outline-none focus:bg-white" name="comment" placeholder='Type Your Comment' required></textarea>
              </div>
              <div class="w-full md:w-full flex items-start px-3">
                 <div class="-mr-1">
                    <input type='submit' class="bg-slate-700 py-1 px-4 tracking-wide mr-1 text-white cursor-pointer" value='Post Comment'>
                 </div>
              </div>
           </form>
        </div>
  </div>
</div>
  <div class="flex justify-center p-4">
    <p>Created by: <%= post.userName %></p>
  </div>
<%if(post.user == user.id){ %>
  <div class="container mx-auto">
  <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="flex justify-center">
    <p class="pr-1">Delete plan: </p>
    <button class="fa fa-trash" type="submit"></button>
  </form>
  </div>
<%}%>
</main>
      <!-- <img class="img-fluid" src="<%= post.image%>" /> -->
      <!-- <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="fa fa-heart" type="submit">Like</button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit">Delete</button>
        </form>
        <%}%>
      </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
</div> -->

<%- include('partials/footer') -%>
