<%- include('partials/headerloggedin') -%>
  <div class="container mx-auto min-h-screen bg-no-repeat bg-cover bg-[url('/imgs/emptygym.jpg')]" id="fullpage">
      <div class="flex justify-around p-20">
        <button onclick="openInitalForm()" class="px-6 py-3 text-lg bg-slate-700 text-white">Create</button>
        <p>Profile info here</p>
      </div>
      <div class="flex justify-center">
        <p>Your Plans</p>
      </div>
      <div class="flex flex-wrap justify-center">
          <% for(var i = 0; i < posts.length; i++) {%>
            <div class="border m-4 text-center w-48 h-40 flex items-start justify-center bg-white rounded-sm">
              <a href="/post/<%= posts[i]._id%>">
                <div>
                  <h2>Strength</h2>
                </div>
                <div>
                <h2><%= posts[i].title%></h2>
                </div>
              </a>
            </div>
        <% } %>
      </div>
    </div>
<!-- The Inital Form -->
<!-- in div below make sure ml is half of what you set the w and mt is half of what you set the h -->
<div class="hidden absolute bg-white w-popup top-1/2 left-1/2 -ml-96 -mt-72 shadow-md rounded-lg" id="initalForm">
  <div class="container mx-auto flex flex-wrap justify-center items-center">
    <div class="container flex justify-center">
      <span class="p-4">Please selete your type of plan:</span>
    </div>
    <div>
      <button class="border p-16 m-4" onclick="openStrengthForm()">Strength</button>
    </div>
    <div>
      <button class="border p-16 m-4" onclick="">Cardio</button>
    </div>
    <div>
      <button class="border p-16 m-4" onclick="">Yoga</button>
    </div>
  </div>
</div>
<!-- in div below make sure ml is half of what you set the w and mt is half of what you set the h -->
<div class="hidden absolute z-10 bg-white justify-center w-popup top-1/2 left-1/2 -ml-96 -mt-72 shadow-md rounded-lg" id="strengthForm">
  <div class="container mx-auto">
    <form action="/post/createPost" method="POST" class="">
      <div class="flex justify-center">
      <legend class="p-4">Strength Plan</legend>
      </div>
      <div class="flex justify-center">
        <label for="" class="p-1">Plan title:</label>
        <input type="text" name="title" class="border p-1 rounded-sm">
      </div>

      <div class="exerciseInput flex justify-center p-4">
        <label for="fullworkout" class="exerciseLabel p-1">Exercise:</label>
        <input type="text" placeholder="Exercise name" class="exercise border p-1 rounded-sm" name="exercise">
        <label for="fullworkout" class="exerciseLabel p-1">Sets:</label>
        <input type="number" class="sets w-10 border p-1 rounded-sm" name="sets">
        <label for="fullworkout" class="exerciseLabel p-1">Reps:</label>
        <input type="number" class="reps w-10 border p-1 rounded-sm" name="reps">
      </div>

      <div class="flex justify-center">
        <textarea class="w-80 p-1 m-4 border rounded-sm" placeholder="Description" id="description" name="description"></textarea>
      </div>
      <div class="flex justify-center">
        <button type="submit" class="" value="Upload">Submit</button>
      </div>
    </form>
    <button class="addexercise m-5">Add exercise</button>

  </div>
</div>

<!-- <button type="button" class="btn cancel" onclick="closeForm()">Close</button> -->


<!-- <div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div> -->
<%- include('partials/footer') -%>